.sectionGrid {
    display: grid;
    grid-template: 'a b';
}

h2 {
    margin-top: 2vw;
    margin-bottom: 1vw;
}

.content {
    width: 54vw;
    margin-left: 5vw;
}

.content p {
    padding-right: 10vw;
}

.listen {
    display: grid;
    grid-template-areas: 'a b';
    margin-top: 2vw;
    margin-bottom: 2vw;
    border: var(--black) 0.052vw solid;
}

.listen p {
    padding: 1vw;
    font-size: 1vw;
}

@media screen AND (max-width:1366px) {
    .listen p {
        padding: 1vw;
        font-size: 2vw;
    }

}

@media screen AND (max-width:800px) {

    h2 {
        margin-top: 0vw;
        margin-bottom: 0.3vw;
    }

    .content {
        width: 90vw;
        margin: auto;
        /* margin-left: 5vw; */
    }


    .listen p {
        padding: 1vw;
        font-size: 3vw;
    }

    .listen {
        margin-top: 0;
        margin-right: 1vw;
    }

    .listen {
        grid-template-areas: 'a''b';
    }

    .sectionGrid {
        display: grid;
        grid-template: 'a''b';
    }
}

@media screen AND (max-width:500px) {



    .sectionGrid {
        display: grid;
        grid-template: 'a''b';
    }

    .content {
        width: 90vw;
        margin: auto;
        /* margin-left: 5vw; */
    }

    .content p {
        padding-right: 0;
    }


    .listen {
        grid-template-areas: 'a''b';
    }

    .listen p {
        font-size: 16px;
    }
}