.sectionGrid {
    display: grid;
    grid-template: 'a b';
    margin-bottom: 5vw;
}


.content {
    width: 54vw;
    margin-left: 5vw;
}

.content p {
    padding-right: 10vw;
}

.contentParagraph {
    margin-bottom: 1vw;
}


.imageContainer {
    display: grid;
    grid-template-areas: 'a b';
    width: 44vw;
    margin-bottom: 1vw;
}

.imageContainer img {
    width: 21vw;
    height: 14vw;
}


@media screen AND (max-width:800px) {

    .sectionGrid {
        display: grid;
        grid-template: 'a''b';
    }

    h2 {
        margin-top: 0vw;
        margin-bottom: 2vw;
    }

    h3 {
        margin-top: 0vw;
        margin-bottom: 0.3vw;

    }

    .content {
        width: 95vw;
        margin-left: 5vw;
    }


    .imageContainer img {
        width: 43vw;
        height: 31vw;
        margin: 2vw 0;
    }

}

@media screen AND (max-width:500px) {

    .sectionGrid {
        display: grid;
        grid-template: 'a''b';
    }

    .content {
        width: 90vw;
        margin: auto;
        /* margin-left: 5vw; */
    }

    .content p {
        padding-right: 0;
    }


    .imageContainer img {
        width: 77vw;
        height: 53vw;
        margin: 3vw 0;
    }

    .imageContainer {
        display: grid;
        grid-template-areas: 'a b';
        width: 76vw;
        margin-bottom: 1vw;
        /* margin: auto; */
    }
}