.sectionGrid {
    display: grid;
    grid-template: 'a b';
    margin-bottom: 5vw;
}


h2 {
    margin-top: 2vw;
    margin-bottom: 1.4vw;
}

h3 {
    font-size: 1.2em;
    margin-bottom: 0.3vw;
}

.content {
    width: 54vw;
    margin-left: 5vw;
}

.content p {
    padding-right: 10vw;
}

.contentParagraph {
    margin-bottom: 1vw;
}




@media screen AND (max-width:800px) {
    .sectionGrid {
        display: grid;
        grid-template: 'a''b';
    }
    h2 {
        margin-top: 0vw;
        margin-bottom: 2vw;
    }

    h3 {
        margin-top: 0vw;
        margin-bottom: 0.3vw;
        font-size: 3vw;
    }

    .content {
        width: 95vw;
        margin-left: 5vw;
    }


}

@media screen AND (max-width:500px) {


    .sectionGrid {
        display: grid;
        grid-template: 'a''b';
    }

    h3 {
        font-size: 4.7vw;
    }

    .content {
        width: 90vw;
        margin: auto;
        /* margin-left: 5vw; */
    }

    .content p {
        padding-right: 0;
    }


}