main {
    display: grid;
    grid-template: 'a''b';
}

.pageTitleContainer {
    width: 64vw;
    margin: auto;
}

.bestemmelserH1 {
    font-family: var(--hFont);
    font-size: var(--hFont);
    color: var(--black);
    text-decoration: underline;
}

.bestemmelserH1:hover {
    color: var(--red);
}

section {
    width: 65%;
    margin: auto;
    padding: 2vw;
    border: 1px solid var(--black);
    margin-bottom: 1vw;
    background-color: #fffff9;
}

section p {
    margin-bottom: 1vw;
}

.links {
    color: var(--black);
    text-decoration: underline;
}

.links:hover {
    color: var(--red);
}


@media screen AND (max-width:800px) {
    section {
        width: 90%;
        margin: auto;
        padding: 2vw;
        border: 1px solid var(--black);
        margin-bottom: 1vw;
        background-color: #fffff9;
    }
}

@media screen AND (max-width:500px) {
    section {
        width: 95vw;
        margin: auto;
        padding: 3vw;
        border: 1px solid var(--black);
        margin-bottom: 1vw;
        background-color: #fffff9;
    }

    section p {
        margin-bottom: 2vw;
    }

    .pageTitleContainer {
        width: 90vw;
        margin: auto;
    }

    section h2 {
        font-size: 1.2em;
    }
}