h2 {
    margin: 2vw auto 5vw;
    width: 60vw;
}

article {
    display: grid;
    grid-template-areas:
        "date h3"
        "nothing p";

    padding: 1vw;
    margin: auto;
    margin-bottom: 0.5vw;

    width: 80vw;
}

.date {
    grid-area: date;
    align-self: center;

    margin: .6vw 1vw 0 0;
    padding: .5vw;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;

    border: var(--black) 0.05vw solid;
}

h3 {
    margin: 0 0 0.5vw;
    padding: 1vw 0 0;
    border-top: var(--black) 0.05vw solid;
}

main p {
    grid-area: p;
}

main {
    min-height: 59vh;
}

@media screen AND (max-width:800px) {
    article {
        width: 100%;
        margin: auto auto .5vw;
    }

    h3 {
        margin: 1vw 0 1vw 0;
    }

    .loading {
        top: 19%;
        left: 22%;
        width: 49vw;
    }
}

@media screen AND (max-width:500px) {
    .pageTitle {
        width: auto;
        text-align: center;
        margin: 3vw 0 2vw;
    }

    h3 {
        width: 80vw;
        align-self: start;
        border: none;
    }

    article {
        margin: .5vw;
        width: 100%;
        grid-template-areas:
            "before before"
            "date h3"
            "p p";
        padding: 0;
        margin: 0;
    }

    article::before {
        content: "";
        height: 1px;
        width: 90vw;
        margin: auto;
        grid-area: before;
        border-top: var(--black) 0.05vw solid;
    }

    .date {
        margin: .6vw 2vw;
        justify-self: end;
    }

    main p {
        max-width: 90%;
        margin: auto;
    }
}