@charset "UTF-8";

/* Welcome to the start of the CSS*/
:root {
    --black: #272727;
    --yellow: #FFD54A;
    --orange: #FAB916;
    --blue: #4B7397;
    --red: #AF3C38;
    --grey: #424242;

    --hFont: 1.6vw;
    --mFont: 1.3vw;
    --msFont: 1.2vw;
    --pFont: 1.1vw;

    --hFontFam: 'Signika', sans-serif;
    --pFontFam: 'Lato', sans-serif;
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

li {
    display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--hFontFam);
    font-size: var(--hFont);
    color: var(--black);
}

p,
label,
button,
input,
option,
select,
b,
a,
i,
li,
ul {
    font-family: var(--pFontFam);
    font-size: var(--pFont);
    text-decoration: none;
    line-height: 1.5;
    color: var(--black);
    margin: 0;
    padding: 0;

}

.medium {
    font-size: var(--mFont);
}

.mediumS {
    font-size: var(--msFont);
    color: var(--grey);
}


.flex {
    display: flex;
    justify-content: space-between;
}

/* Header START */

header {
    border-bottom: var(--black) .1vw solid;
    width: 90%;
    display: grid;
    grid-template-areas: 'a b';
    margin: auto;
    margin-bottom: 3vw; /* mere whitespace mellem header og main */
}

nav {
    justify-content: flex-end;
    display: grid;
    height: 5vw;
}

#branding {
    text-align: center;
    align-self: center;
}

#logo {
    width: 85px;
}

nav ul {
    display: grid;
    grid-template-areas: 'a b c d e';
}

nav li {
    padding: 1.354vw;
    color: var(--black);
    display: inline;
}

nav li a {
    color: var(--black);
    font-family: var(--hFontFam);
    font-size: var(--hFont);
}

.current a {
    color: var(--red);
}

.current {
    color: red;
}

nav li a:hover {
    color: var(--red);
}



.dropdown {
    position: relative;
}

.dropdown ul {
    display: none;
    position: absolute;
    right: 0;
    right: 1.7vw;
    width: 12vw;
    background-color: white;
    border: 1px solid var(--black);
    border-top: none;
}

.dropdown ul li a {
    padding: 0;
    padding-left: .6vw;
    display: block;
    font-size: 1.5vw;
}

.dropdown ul li {
    padding: 0.2vw;
}

.dropdown:hover ul {
    display: block;
}

.dropdownItem a:hover {
    color: var(--red);
}

.dropdownItem a {
    color: var(--black);
}

.icon {
    display: none;
}

/* Header END */

/* Main START */

/* INFO SIDER - GLOBAL */
.pageNav {
    margin-top: 2vw;
    margin-left: 20vw;
    border: 0.052vw solid;
    margin-bottom: 2vw;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
}

.pageNav li {
    padding: 0.8vw;
    font-weight: bold;
}

.pageNav li a {
    color: var(--black);
}

.pageNav li a:hover {
    color: var(--red);
}

.pageTitle {
    margin-left: 20vw;
}



.infoLink {
    text-decoration: underline;
    color: var(--blue);
}

.contentParagraph {
    margin-bottom: 1vw;
}

.scrollBtn {
    display: block;
    position: fixed;
    bottom: 2vw;
    right: 1vw;
    z-index: 2;
    border: none;
    background-color: #4B739700;
    color: #ffffff00;
    padding: .5vw .9vw;
    font-size: 0.9vw;
    transition: background-color .5s ease-in-out, color .5s ease;
}

.scrollBtnShown {
    background-color: var(--blue);
    color: white;
}

#myBtn:hover {
    background-color: #555;
}

/* Main END */
footer {
    display: grid;
    grid-template-areas: "kontakt copy";
    width: 100%;
    padding: 7.3vw 4.2vw 1vw;
    align-content: center;
    margin-top: 7vw;
    background-image: url(../svg/footer.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

footer u {
    text-transform: uppercase;
}

footer p {
    font-family: var(--hFontFam);
    line-height: calc(var(--pFont)*1.6);
}

#copyright {
    grid-area: copy;
    align-self: end;
    justify-self: end;
    margin: 0;
    font-family: var(--hFontFam);
}

a:hover,
button:hover {
    cursor: pointer;
}

/*Styling for loading anim*/
.loading {
    z-index: 99;
    position: fixed;
    top: 0%;
    left: 39%;
    width: 19vw;
    display: none;
}

#sun {
    transform-origin: 10% 72%;
    -webkit-animation: loadin 2s linear infinite;
    animation: loadin 2s linear infinite;
    transform: scale(.5);
}


@-webkit-keyframes loadin {
    0% {
        transform-origin: 0% 90%;
        transform: scale(.3);
    }

    17% {
        transform-origin: 25% 55%;
        transform: scale(.475);
    }

    50% {
        transform-origin: 50% 20%;
        transform: scale(.65);
    }

    75% {
        transform-origin: 75% 55%;
        transform: scale(.475);
    }

    100% {
        transform-origin: 100% 90%;
        transform: scale(.3);
    }
}


@keyframes loadin {
    0% {
        transform-origin: 0% 90%;
        transform: scale(.3);
    }

    17% {
        transform-origin: 25% 55%;
        transform: scale(.475);
    }

    50% {
        transform-origin: 50% 20%;
        transform: scale(.65);
    }

    75% {
        transform-origin: 75% 55%;
        transform: scale(.475);
    }

    100% {
        transform-origin: 100% 90%;
        transform: scale(.3);
    }
}

.shown {
    display: block;
}

.pageNavBar {
    display: none;
}

/* MQ big tablet */

@media screen AND (max-width:1366px) {
    .scrollBtn {
        padding: 0.7vw 1.1vw;
        font-size: 1.1vw;
    }

    :root {
        --hFont: 3vw;
        --mFont: 2.5vw;
        --msFont: 2vw;
        --pFont: 1.7vw;
    }

    .medium {
        font-size: var(--mFont);
    }

    .mediumS {
        font-size: var(--msFont);
        color: var(--grey);
    }

    header {
        width: 100%;
    }

    .pageNav {
        margin-top: 2vw;
        margin-left: 7vw;
        border: 0.052vw solid;
        margin-bottom: 2vw;
        height: -webkit-max-content;
        height: -moz-max-content;
        height: max-content;
    }

    .pageTitle {
        margin-left: 7vw;
    }

    .pageNavBar {
        display: none;
    }

}

/* MQ tablet START */
@media screen AND (max-width:800px) {

    .scrollBtn {
        padding: 1vw 1.1vw;
        font-size: 3.1vw;
    }

    :root {
        --hFont: 5vw;
        --mFont: 4.2vw;
        --msFont: 3.5vw;
        --pFont: 3vw;
    }

    .medium {
        font-size: var(--mFont);
    }

    .mediumS {
        font-size: var(--msFont);
        color: var(--grey);
    }

    /* small menu START*/
    #logo {
        width: 102px;
        padding: 0vw;
        margin: 1vw;
        margin-left: 16px;
    }

    #mobile {
        display: none;
        grid-template-areas: 'a';
        background: #fff;
        z-index: 3;
        margin-top: 7vw;
        width: 52vw;
    }

    header {
        width: 100%;
    }

    .icon {
        display: block;
        z-index: 99;
        position: absolute;
        right: 0;
        align-self: center;
        margin-right: 5vw;
        text-align: end;
        background-image: url(../svg/Icon\ material-menu.svg);
        height: 24px;
        width: 36px;
        background-size: contain;
        background-repeat: no-repeat;
    }

    nav ul {
        position: relative;
        border: 0.1px solid var(--black);
    }

    #branding {
        text-align: start;
    }

    nav {
        align-self: center;
        height: 3vw;
    }

    .dropdown span {
        display: none;
    }

    .dropdown:hover ul {
        display: none;
    }

    nav li {
        padding: 2.354vw;
        color: var(--black);
        display: inline;
    }

    /* small menu END*/
    .pageTitle {
        width: 92vw;
        margin: auto;
    }

    .pageNav {
        display: grid;
        border: none;
        margin-top: 0vw;
        margin-left: 0vw;
        width: 100%;
        margin: auto;
        margin-bottom: 2vw;
        height: auto;
        transition: height .5s ease;
        position: relative;
    }

    .pageNavBar {
        display: flex;
        font-size: 5vw;
        width: 100%;
        height: 15vw;
        font-weight: bold;
        margin-top: 0;
        background-color: var(--yellow);
        padding: 2vw;
        padding-left: 5.3vw;
        color: #272727;
        box-shadow: 0px 5px #1d2832ba;
        margin-bottom: 2vw;
        align-content: center;
        align-items: center;
       
    }
    

    .pageNavMobile {
        display: grid;
        transform: scaleY(0);
        -webkit-animation: showPageNavMobile 1s cubic-bezier(0.7, 0.98, 0.59, 1.07);
        animation: showPageNavMobile 1s cubic-bezier(0.7, 0.98, 0.59, 1.07);

    }

    .pageNav .pageNavMobile li {
        padding: 0;
        margin: 0;
    }
    
    .pageNavMobile * {
        display: grid;
        border: none;
        margin: 0;
        padding: 0;
        color: rgba(255, 255, 255, 0);
        font-size: 0;
        height: 0;
        line-height: 0;
    }

    .pageNavMobileShown * {
        color: var(--black);
    }

    .pageNavMobileShown {
        display: grid;
        height: -webkit-max-content;
        height: -moz-max-content;
        height: max-content;
        border-bottom: 0.052vw solid;
        margin-bottom: 2vw;
        -webkit-animation: showPageNavMobile 1s cubic-bezier(0.7, 0.98, 0.59, 1.07);
        animation: showPageNavMobile 1s cubic-bezier(0.7, 0.98, 0.59, 1.07);
        transform: scaleY(1);
    }

    #pageNavMobile {
        -webkit-animation: showPageNavMobile 1s cubic-bezier(0.7, 0.98, 0.59, 1.07);
        animation: showPageNavMobile 1s cubic-bezier(0.7, 0.98, 0.59, 1.07);
        transition: transform 1s ease;
        transform-origin: top center;
        position: absolute;
        width: 100vw;
    }

    div.pageNavTall {
        height: 87vw;
    }

    @-webkit-keyframes showPageNavMobile {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    @keyframes showPageNavMobile {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    .pageNav li {
        padding: 1vw;
        margin-top: 6px;
        padding-left: 5.3vw;
    }

    .menuIMG {
        padding-left: 1.5vw;
        height: auto;
        width: 43px;
    }

    /* footer START */
    footer {
        padding: 13.3vw 4.2vw 1vw;
        grid-template-areas: 'kontakt''copy';
        grid-row-gap: 2vw;
        margin-top: 12vw;
    }

    #copyright {
        grid-area: copy;
        align-self: end;
        justify-self: start;
        margin: 0;
        font-family: var(--hFontFam);
    }

    /* footer END */
}

/* MQ tablet END */

/* MQ mobile START */
@media screen AND (max-width:500px) {
    :root {
        --hFont: 6vw;
        --mFont: 5.3vw;
        --msFont: 5vw;
        --pFont: 4.7vw;
    }

    div.pageNavTall {
        height: 130vw;
    }

    .scrollBtn {
        padding: 1.2vw 1.1vw;
        font-size: 4.1vw;
    }


    .medium {
        font-size: var(--mFont);
    }

    .mediumS {
        font-size: var(--msFont);
        color: var(--grey);
    }


    /* small menu START*/
    #logo {
        width: 75px;
        margin-left: 16px;
    }

    #mobile {
        display: none;
        grid-template-areas: 'a';
        background: #fff;
        z-index: 3;
        margin-top: 7vw;
        width: 52vw;
    }

    header {
        width: 100%;
    }

    .icon {
        display: block;
        z-index: 99;
        position: absolute;
        right: 0;
        align-self: center;
        margin-right: 5vw;
        text-align: end;
        background-image: url(../svg/Icon\ material-menu.svg);
        height: 24px;
        width: 36px;
        background-size: contain;
        background-repeat: no-repeat;
    }

    nav ul {
        position: relative;
        border: 0.1px solid var(--black);
    }

    #branding {
        text-align: start;
    }

    nav {
        align-self: center;
    }

    /* small menu END*/

    /* infosider START */
    .pageTitle {
        width: 92vw;
        margin: auto;
    }

    .pageNav {
        display: grid;
        border: none;
        margin-top: 0vw;
        margin-left: 0vw;
        width: 100%;
        margin: auto;
        margin-bottom: 2vw;
        height: -webkit-max-content;
        height: -moz-max-content;
        height: max-content;
    }

    .pageNavBar {
        display: flex;
        width: 100%;
        height: 10vw;
        margin-top: 0;
        font-size: 6vw;
        background-color: var(--yellow);
        padding: 2vw;
        padding-left: 5.3vw;
        color: var(--black);
        box-shadow: 0px 5px #1d2832ba;
        margin-bottom: 2vw;
        align-content: center;
        align-items: center;
    }

    .pageNav li {
        padding: 1vw;
        margin-top: 6px;
        padding-left: 5.3vw;
    }
   
    /* infosider END*/

    /* footer START */
    footer {
        padding: 13.3vw 4.2vw 1vw;
        grid-template-areas: 'kontakt''copy';
        grid-row-gap: 2vw;
    }


    #copyright {
        grid-area: copy;
        align-self: end;
        justify-self: start;
        margin: 0;
        font-family: var(--hFontFam);
    }

    /* footer END */

}

.pageNav li a.pageNavCurrent {
    color: var(--red);
}