.pageTitleContainer {
    width: 64vw;
    margin: auto;
}

.bestemmelserH1 {
    font-family: var(--hFont);
    font-size: var(--hFont);
    color: var(--black);
    text-decoration: underline;
}

.bestemmelserH1:hover {
    color: var(--red);
}

.sectionGrid {
    width: 65%;
    margin: auto;
    padding: 4vw 10vw;
    border: 1px solid var(--black);
    margin-bottom: 1vw;
    background-color: #fffff9;
    display: grid;
    grid-template-areas:
        'a b'
        'c d'
        'e f'
        'g h'
        'i j'
        'k l'
        'm n'
        'o p'
        'q r'
        's t'
        'w w'
    ;
}

p {
    padding: 0.5vw;
}

section h2 {
    font-family: var(--pFontFam);
    font-size: var(--mFont);
}

.links {
    color: var(--black);
    text-decoration: underline;
}

.links:hover {
    color: var(--red);
}

.ulpad {
    padding: 0 3vw 1vw;
}

.ulpad li {
    margin-bottom: 0.5vw;
    list-style-type: disc;
    display: list-item;
}

.sectionEnd1 {
    grid-area: t;

}

.sectionEnd2 {
    grid-area: w;
    margin-top: 2vw;
}

@media screen AND (max-width:800px) {
    .sectionGrid {
        width: 90%;

    }
}

@media screen AND (max-width:500px) {
    .sectionGrid {
        width: 93vw;
        margin: auto;
        padding: 4vw 1vw;
    }

    p {
        padding: 1.5vw;
    }

    .pageTitleContainer {
        width: 90vw;
        margin: auto;
    }
}